@charset "UTF-8";
/* Variables */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");
body::-webkit-scrollbar {
  width: 0.7em;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #f00c0c;
  border: 1px solid #1c1b1b;
  outline: 1px solid transparent;
  border-radius: 5px;
}

/* Variables */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  background-color: #1c1b1b;
  background-image: linear-gradient(20deg, #f00c0c 0%, #181818 46%, #181818 46%, #1c1b1b 100%);
}

@media screen and (max-width: 768px) {
  body {
    background-image: none;
  }
}
header {
  -webkit-box-shadow: 0px 11px 14px -4px #6e6c6c;
  box-shadow: 1px 3px 7px 3px #0f0f0f;
  text-transform: uppercase;
  font-weight: bold;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
  background-image: none;
}

a {
  text-decoration: none;
}

.container-nav {
  width: 1170px;
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.navbar,
.navbar > .container-nav {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
  background-color: #151515;
}
@media (max-width: 768px) {
  .navbar,
.navbar > .container-nav {
    display: block;
  }
}

.navbar {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  background-color: #151515;
  height: 97px;
  /* 
  |-----------------------------------
  | inicio navbar menu
  |-----------------------------------
  */
}
@media (min-width: 768px) {
  .navbar .container-nav {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .navbar .container-nav {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .navbar .container-nav {
    max-width: 1140px;
  }
}
.navbar .navbar-header {
  background-color: #151515;
  background-image: none;
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .navbar .navbar-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}
.navbar .navbar-header .navbar-toggler {
  cursor: pointer;
  border: none;
  display: none;
  outline: none;
}
@media (max-width: 768px) {
  .navbar .navbar-header .navbar-toggler {
    display: block;
  }
}
.navbar .navbar-header .navbar-toggler span {
  height: 2px;
  width: 22px;
  background-color: white;
  display: block;
}
.navbar .navbar-header .navbar-toggler span:not(:last-child) {
  margin-bottom: 0.2rem;
}
.navbar .navbar-header > a {
  font-weight: 500;
  color: #d0d4db;
}
.navbar .navbar-menu {
  display: flex;
  align-items: center;
  flex-basis: auto;
  flex-grow: 1;
  padding-bottom: 10px;
}
@media (max-width: 768px) {
  .navbar .navbar-menu {
    display: none;
    text-align: center;
  }
}
.navbar .navbar-menu .navbar-nav {
  margin: auto;
  flex-direction: row;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
@media (max-width: 768px) {
  .navbar .navbar-menu .navbar-nav {
    width: 100%;
    display: block;
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(90deg, #1c1b1b 0%, #f00c0c 50%, #1c1b1b 100%) 1;
    padding-top: 16px;
    border-left: none;
    border-right: none;
    border-bottom: none;
    margin-top: 1rem;
  }
}
.navbar .navbar-menu .navbar-nav > li {
  padding: 0 40px;
  transition: all 1s ease;
}
@media (min-width: 769px) and (max-width: 1032px) {
  .navbar .navbar-menu .navbar-nav > li {
    transition: all 1s ease;
    padding: 15px;
  }
}
.navbar .navbar-menu .navbar-nav > li > a {
  color: #d0d4db;
  text-decoration: none;
  display: inline-block;
  padding: 0.5rem 1rem;
  transition: all 0.2s ease-in-out;
}
.navbar .navbar-menu .navbar-nav > li > a:hover {
  color: #f00c0c;
  transition: all 0.2s ease-in-out;
}
@media (max-width: 768px) {
  .navbar .navbar-menu .navbar-nav > li > a {
    border-bottom: 1px solid #f00c0c;
  }
}
.navbar .navbar-menu .navbar-nav > li.active a {
  color: #f00c0c;
}
.navbar .navbar-menu .navbar-nav .navbar-dropdown {
  transition: all 0.2s ease-in-out;
}
.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown {
  list-style: none;
  position: absolute;
  top: 150%;
  left: 0;
  background-color: #151515;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  min-width: 160px;
  width: auto;
  white-space: nowrap;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  z-index: 99999;
  border-radius: 2px;
  display: none;
}
@media (max-width: 768px) {
  .navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown {
    position: relative;
    box-shadow: none;
  }
}
.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown li a {
  color: #d0d4db;
  padding: 0.25rem 1rem;
  display: block;
  transition: all 0.2s ease-in-out;
}
.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown li a:hover {
  color: #f00c0c;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}
.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown.show {
  display: block !important;
}
.navbar .navbar-menu .navbar-nav .dropdown > .separator {
  height: 1px;
  width: 100%;
  margin-top: 9px;
  margin-bottom: 9px;
  background-color: #151515;
}
.navbar .navbar-dropdown {
  position: relative;
}

.navbar .navbar-header > a span {
  color: #f00c0c;
}

.navbar .navbar-header h4 {
  font-weight: 500;
  font-size: 1.25rem;
}
@media (max-width: 768px) {
  .navbar .navbar-header h4 {
    font-size: 1.05rem;
  }
}

/* logo */
.logo {
  display: flex;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

/* logo colores */
.logo-circle {
  fill: #f00c0c;
}

.logo-inter {
  fill: white;
}

#text-decoration-none {
  text-decoration: none;
  list-style: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

#text-decoration-none2 {
  text-decoration: none;
  list-style: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

#text-decoration-none3 {
  text-decoration: none;
  list-style: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

#text-decoration-none4 {
  text-decoration: none;
  list-style: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

#text-decoration-none5 {
  text-decoration: none;
  list-style: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

#text-decoration-none6 {
  text-decoration: none;
  list-style: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

#text-decoration-none7 {
  text-decoration: none;
  list-style: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

#text-decoration-none8 {
  text-decoration: none;
  list-style: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

#text-decoration-none9 {
  text-decoration: none;
  list-style: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

/* Variables */
footer {
  background-color: #151515;
  padding-bottom: 5%;
  -webkit-box-shadow: 0px 11px 14px -4px #6e6c6c;
  box-shadow: 1px 3px 7px 3px #0f0f0f;
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  /* border */
  border-width: 1px;
  border: 2px solid black;
  border-left: none;
  border-right: none;
  border-top: none;
  border-image: linear-gradient(90deg, #151515 0%, #f00c0c 50%, #151515 100%) 1;
  padding-bottom: 1.5%;
  margin: 0 0 3% 0%;
}

.wrapper ul {
  list-style: none;
}

.wrapper ul li {
  width: 75px;
  height: 75px;
  line-height: 75px;
  margin: 0 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  border: 5px solid #D8E2DC;
  float: left;
  transition: all 0.5s ease;
}

.wrapper ul li .fa {
  color: #D8E2DC;
  transition: all 0.5s ease;
}

/*facebook*/
.wrapper ul li:hover.facebook {
  border: 5px solid #3b5998;
  box-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-facebook {
  color: #3b5998;
  text-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

/*twitter*/
.wrapper ul li:hover.twitter {
  border: 5px solid #00aced;
  box-shadow: 0 0 15px #00aced;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-twitter {
  color: #00aced;
  text-shadow: 0 0 15px #00aced;
  transition: all 0.5s ease;
}

/* instagram */
.wrapper ul li:hover.instagram {
  border: 5px solid #bc2a8d;
  box-shadow: 0 0 15px #bc2a8d;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-instagram {
  color: #bc2a8d;
  text-shadow: 0 0 15px #bc2a8d;
  transition: all 0.5s ease;
}

/* google */
.wrapper ul li:hover.google {
  border: 5px solid #dd4b39;
  box-shadow: 0 0 15px #dd4b39;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-google {
  color: #dd4b39;
  text-shadow: 0 0 15px #dd4b39;
  transition: all 0.5s ease;
}

/* whatsapp */
.wrapper ul li:hover.whatsapp {
  border: 5px solid #4dc247;
  box-shadow: 0 0 15px #4dc247;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-whatsapp {
  color: #4dc247;
  text-shadow: 0 0 15px #4dc247;
  transition: all 0.5s ease;
}

/* youtube link */
.youtube {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 160px;
  text-align: center;
  padding: 15px 10px;
  background: #bb0000;
  border-radius: 5px;
}

.youtube a {
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  letter-spacing: 1px;
}

/* /////////////// Footer /////////////// */
/* logo footer */
.logo-footer-position {
  display: flex;
  justify-content: center;
  border: solid #ececec;
  /* color borde bottom */
  border-width: 1px;
  border: 2px solid black;
  border-left: none;
  border-right: none;
  border-top: none;
  border-image: linear-gradient(90deg, #151515 0%, #f00c0c 50%, #151515 100%) 1;
  padding-bottom: 1%;
  margin: 0 0% 2% 0%;
}

.logo-footer {
  display: flex;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.h3-footer {
  color: #d0d4db;
  display: flex;
  justify-content: center;
}

.h3-footer1 {
  color: #d0d4db;
  display: flex;
  justify-content: center;
}

#h4-footer {
  color: #d0d4db;
  display: flex;
  justify-content: flex-start;
  margin: 0 26%;
  font-size: 1rem;
  padding: 5px 0;
}

#h4-footer2 {
  color: #d0d4db;
  display: flex;
  justify-content: flex-start;
  margin: 0 26%;
  font-size: 1rem;
  padding: 5px 0;
}

#h4-footer3 {
  color: #d0d4db;
  display: flex;
  justify-content: flex-start;
  margin: 0 26%;
  font-size: 1rem;
  padding: 5px 0;
}

#h4-footer4 {
  color: #d0d4db;
  display: flex;
  justify-content: flex-start;
  margin: 0 26%;
  font-size: 1rem;
  padding: 5px 0;
}

#h4-footer5 {
  color: #d0d4db;
  display: flex;
  justify-content: flex-start;
  margin: 0 26%;
  font-size: 1rem;
  padding: 5px 0;
}

#h4-footer6 {
  color: #d0d4db;
  display: flex;
  justify-content: flex-start;
  margin: 0 26%;
  font-size: 1rem;
  padding: 5px 0;
}

#h4-footer7 {
  color: #d0d4db;
  display: flex;
  justify-content: flex-start;
  margin: 0 26%;
  font-size: 1rem;
  padding: 5px 0;
}

#h4-footer8 {
  color: #d0d4db;
  display: flex;
  justify-content: flex-start;
  margin: 0 26%;
  font-size: 1rem;
  padding: 5px 0;
}

.d-block li {
  color: #d0d4db;
  list-style-type: none;
}

.fa-credit-card-alt {
  color: #d0d4db;
  font-size: 1em;
  padding: 1.5px 10px;
}

#fa-truck {
  color: #d0d4db;
  font-size: 2em;
  padding: 1.5px 10px;
}

/* @media mobile */
@media (max-width: 991px) {
  .mobile-col {
    margin: 5% 0;
    justify-content: center;
  }

  #h4-footer {
    justify-content: start;
  }

  .d-block {
    margin: auto;
  }

  .wrapper {
    margin: 0;
    padding-bottom: 16px;
  }

  .bottom-liner-mobile {
    border-width: 1px;
    border: 2px solid black;
    border-left: none;
    border-right: none;
    border-top: none;
    border-image: linear-gradient(90deg, #151515 0%, #f00c0c 50%, #151515 100%) 1;
    padding-bottom: 5%;
  }
}
@media screen and (max-width: 640px) {
  .wrapper ul li {
    margin-top: 10px;
  }

  .wrapper ul li.google {
    margin-left: 60px;
  }
}
@media screen and (max-width: 340px) {
  .wrapper {
    width: 150px;
  }

  .wrapper ul li {
    margin: 15px;
  }

  .wrapper ul li.google {
    margin-left: 15px;
  }
}
.texto-footer {
  color: #d0d4db;
  font-size: 1rem;
}
.texto-footer > div > i {
  padding: 3.5px 15px;
}

#margin-b {
  padding: 0 0 0 9rem;
}
#margin-b > div > p {
  margin-bottom: 0;
  color: #d0d4db;
  font-size: 0.95rem;
}

b {
  color: #f00c0c !important;
  padding-right: 5%;
}

.num-hover {
  color: #d0d4db;
}
.num-hover:hover {
  color: #f00c0c;
}

.categorias {
  padding-top: 123px;
  color: white;
}

.text-style {
  color: #d0d4db;
  font-size: 1.2rem;
}

.style-h3 {
  color: #d0d4db;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

b {
  height: 5px;
  color: #a8bb1e;
}

.t12b-c {
  display: flex;
  flex-direction: column;
}

/* Titulo */
.section-title-container {
  line-height: 1.6;
  font-size: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-bottom: 5em;
  max-width: 1080px;
}

.section-title-center {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-size: 1.6em;
  line-height: 1.3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-title-cont {
  font-size: 1.1em;
  line-height: 1.3;
  margin: 0 15px;
  text-align: center;
  text-transform: none;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 2em;
  font-family: "Open Sans", sans-serif;
}

.section-title b {
  font-size: 1.6em;
  line-height: 1.3;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 2px;
  opacity: 0.1;
  background-color: currentColor;
}

.tienda-section {
  padding-bottom: 7em;
  background-color: white;
}

.tienda-section,
:after,
:before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

/*  Indice tienda mobile   */
@media screen and (min-width: 1024px) {
  .divcat-m {
    display: none;
  }

  .span-style-m {
    font-size: 1em;
    letter-spacing: 0;
    line-height: 1.25em;
  }

  .u-font-p {
    font-size: 1em;
    letter-spacing: -0.16px;
    line-height: 1.5em;
  }

  .t6a {
    padding-left: 0;
    padding-right: 0;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  .t2b {
    margin-top: 0px;
  }
}
.u-font {
  font-size: 1em;
  letter-spacing: 0;
  line-height: 1.25em;
}

.divcat-m {
  margin-top: 24px;
  border-width: 4px;
  border-style: solid;
  -o-border-image: -o-linear-gradient(left, #1c1b1b 0%, #f00c0c 50%, #1c1b1b 100%) 1;
  border-image: -webkit-gradient(linear, left top, right top, from(#1c1b1b), color-stop(50%, #f00c0c), to(#1c1b1b)) 1;
  border-image: linear-gradient(90deg, #1c1b1b 0%, #f00c0c 50%, #1c1b1b 100%) 1;
  padding-top: 16px;
  border-left: none;
  border-right: none;
}

@media screen and (min-width: 320px) {
  .margtop {
    margin-top: 16px;
  }

  .padbott {
    padding-bottom: 16px;
  }
}
.divcat-m-sec {
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  white-space: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  border-width: 4px;
}

@media (hover: hover) and (pointer: fine) {
  .xl5r3s:hover:after {
    border-bottom-color: inherit;
  }
}
.tap-m-sec {
  position: relative;
  text-decoration: none;
  outline: 0;
  padding: 12px;
  background-color: #efeff0;
  border-color: transparent;
  display: block;
  border-radius: 10px;
  border: solid rgba(13, 6, 48, 0.15);
  border-width: 1px 1px;
}
.tap-m-sec:active {
  background: #e0e0e0;
  -webkit-box-shadow: inset 25px 25px 49px #c7c7c7, inset -25px -25px 49px #f9f9f9;
  box-shadow: inset 25px 25px 49px #c7c7c7, inset -25px -25px 49px #f9f9f9;
}

.tap-m-sec:after {
  border-bottom-color: transparent;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  bottom: -3px;
  content: "";
  display: block;
  height: 0;
  left: 0;
  position: absolute;
  -webkit-transition: border 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out;
  transition: border 0.15s ease-in-out;
  width: 100%;
}

.span-style-m {
  font-size: 1em;
  letter-spacing: 0;
  line-height: 1.25em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 400;
}

.u-span-nomar {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
  color: #1a1a1a;
}

.tap-m-padding-one {
  padding: 0 0.35em 0 0.75em;
}

.tap-m-padding {
  padding: 0 0.35em;
}

.u-span-nomar {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 400;
  font-family: helveticanow, helvetica, sans-serif;
}

.u-font-tw {
  font-weight: 700;
  color: #1a1a1a;
}

/* Div Tienda */
@media screen and (min-width: 768px) {
  .div-tienda {
    margin-left: 24px;
    margin-right: 24px;
  }

  .div-tienda .div-tienda {
    margin-left: -8px;
    width: calc(100% + 16px);
  }

  .div-tienda .kpgvnb {
    padding-left: 8px;
    padding-right: 8px;
  }
}
@media screen and (min-width: 1280px) {
  .div-tienda {
    margin-left: auto;
    margin-right: auto;
    max-width: 1300px;
    border-width: 1px 1px;
  }
}
.div-tienda-b-t {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.div-tienda-b {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.t2b {
  padding-top: 24px;
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%;
  display: none;
}

@media screen and (min-width: 1024px) {
  .t2b {
    padding-top: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.t3b {
  padding-top: 3%;
  font-weight: bold;
  padding-bottom: 12px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 0;
  margin-top: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.t4a {
  padding-left: 12px;
  position: sticky;
  top: 20%;
}

.t5a {
  list-style: none;
}

.t5a a {
  text-decoration: none;
}

.tienda-effect:hover {
  border-bottom: 2px solid #0d0630;
}

.t6a {
  font-weight: bold;
  font-size: 1em;
  letter-spacing: 0;
  line-height: 1.25em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 0;
  margin-top: 0;
  color: #d0d4db;
}

.t6a-b {
  font-weight: bold;
  font-size: 1em;
  letter-spacing: 0;
  line-height: 1.25em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 0;
  margin-top: 0;
  color: #f00c0c;
}

/* WRAP */
.t6a {
  padding-left: 6px;
  padding-right: 6px;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
}

@media screen and (min-width: 1024px) {
  .t6a {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }
}
.t7a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 100%;
}

.t8a {
  padding-left: 6px;
  padding-right: 6px;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%;
  position: relative;
  padding-top: 24px;
}

@media screen and (min-width: 768px) {
  .t8a {
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
}
@media screen and (min-width: 480px) {
  .t8a {
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
}
.t9a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.t10a {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-top: 144.357%;
  border: solid #ececec;
  border-width: 1px;
  /* color borde cartas */
  border: 5px solid black;
  -o-border-image: -o-linear-gradient(bottom, transparent, transparent, #f00c0c) 1;
  border-image: -webkit-gradient(linear, left bottom, left top, from(transparent), color-stop(transparent), to(#f00c0c)) 1;
  border-image: linear-gradient(0deg, transparent, transparent, #f00c0c) 1;
}

.t11a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.t12a {
  width: 101%;
  -webkit-box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  -o-transition: transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
.t12a:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

.t12a-t {
  height: auto;
  width: 101%;
  -webkit-box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  -o-transition: transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  -webkit-filter: brightness(75%);
  filter: brightness(80%);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.t12a-t:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-filter: brightness(100%);
  filter: brightness(100%);
}

/* imagen en texto */
.content-img-tienda-txt {
  position: relative;
}

.t12c-c-style2 {
  font-family: "Concert One", cursive;
  text-transform: uppercase;
}

/* Texto */
.content-img-tienda-txt strong {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 4.5vmin;
  -webkit-transform: translate(-50%, -150%);
  -ms-transform: translate(-50%, -150%);
  transform: translate(-50%, -150%);
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

@media screen and (min-width: 701px) {
  .t12b {
    padding-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .logo-sec-tienda {
    font-size: 1.35em;
    color: #0d0630;
  }
}
@media screen and (max-width: 700px) {
  .t12b {
    padding-top: 10px;
    display: block;
    left: 50%;
  }

  .logo-sec-tienda {
    font-size: 1.1em;
    color: #0d0630;
  }
}
.t12c {
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.nuevo-section {
  padding-top: 7em;
  padding-bottom: 7em;
}

.nuevo-section-portada {
  background-color: white;
}

.img-nuevo-portada {
  width: 100%;
}

.img-nuevo-portada2 {
  width: 100%;
  -webkit-box-shadow: -12px 9px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: -12px 9px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (max-width: 991px) {
  .img-nuevo-portada2 {
    display: none;
  }
}
.div-tienda-b-n {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.t2b-n {
  padding-top: 24px;
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%;
  display: none;
}

@media screen and (min-width: 1024px) {
  .t2b-n {
    padding-top: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/* tienda */
.logo-sec-nuevo {
  font-size: 1.35em;
  color: #0d0630;
}

/* Imagne hover */
img {
  vertical-align: unset;
}

.img-nuevo {
  position: relative;
  margin: 0 auto;
  height: auto;
  width: 101%;
}

.img-nuevo img {
  position: absolute;
  left: 0;
  height: auto;
  width: 101%;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.img-nuevo img:hover {
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.img-nuevo .img-top:hover {
  opacity: 0;
}

/* logo wp */
.logo-wp {
  z-index: 999;
  border-radius: 50%;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  font-size: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 600px) {
  .logo-wp {
    bottom: 3rem;
    right: 2rem;
  }
}

.logo-instagram-fl {
  width: 50px;
  height: 50px;
  transition: all 0.2s;
}
.logo-instagram-fl:hover {
  transition: all 0.2s;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

/* Variables */
/*/////////// Protectores ////////////// */
.vidrios,
.accesorios,
.fundas {
  height: 88vh;
  font-weight: bold;
  -webkit-box-shadow: inset 0px 0px 12px 3px #000000;
  box-shadow: inset 0px 0px 12px 3px #000000;
  border-radius: 2px;
  margin-top: 6px;
  background: rgba(240, 12, 12, 0.3);
  border: 6px solid;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  -o-border-image: -o-linear-gradient(var(--angle), #f00c0c, red) 1;
  -webkit-animation: 10s rotate linear infinite;
  animation: 10s rotate linear infinite;
}

@media (max-width: 768px) {
  .vidrios,
.accesorios,
.fundas {
    height: 75vh;
  }
}
#center-row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.img-dev {
  max-width: 600px;
  width: 100%;
  padding: 6%;
}

/* vidrios */
.protectorH {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  color: white;
}
.protectorH > h2 {
  padding-top: 5%;
  font-family: "Concert One", cursive;
  text-transform: uppercase;
  text-shadow: 0px 5px 5px #000000;
  font-size: calc(1rem + 8vmin);
  -webkit-background-clip: text;
}
.protectorH > h3 {
  font-size: 2rem;
  font-family: "Concert One", cursive;
  padding-top: 9%;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  text-transform: uppercase;
}

.div-descrip-devol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 20%;
  width: auto;
  max-width: 550px;
  border: 5px solid linear-gradient(45deg, #f00c0c, red);
  -webkit-box-shadow: #f00c0c 0px 0px 20px 0px;
  box-shadow: #f00c0c 0px 0px 20px 0px;
  border-radius: 2px;
  background-color: #1c1b1b;
  margin-bottom: 8%;
  padding: 2% 2%;
}
.div-descrip-devol > p {
  font-size: 1.2rem;
  font-style: "Roboto", sans-serif;
  color: #d0d4db;
}

/* /////////// fundas ///////////// */
.section-fundas {
  padding-top: 5%;
  margin: 5% 0;
}

.fundasH {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  color: white;
}
.fundasH > h2 {
  padding-top: 5%;
  font-family: "Concert One", cursive;
  text-transform: uppercase;
  text-shadow: 0px 5px 5px #000000;
  font-size: calc(1rem + 8vmin);
  -webkit-background-clip: text;
}
.fundasH > h3 {
  font-size: 2rem;
  font-family: "Concert One", cursive;
  padding-top: 9%;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  text-transform: uppercase;
}
.fundasH > p {
  font-size: 1.3rem;
  font-family: "Concert One", cursive;
  color: #1c1b1b;
  margin-top: 20%;
  padding: 4% 0 4% 2%;
  margin-bottom: 8%;
  border-radius: 6px;
  background-color: #d0d4db;
  border-radius: 10px;
}

/* ////////// Accesorios /////// */
.accesorios {
  margin-bottom: 10%;
}

.accesoriosH {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  color: white;
}
.accesoriosH > h2 {
  padding-top: 5%;
  font-family: "Concert One", cursive;
  text-transform: uppercase;
  text-shadow: 0px 5px 5px #000000;
  font-size: calc(1rem + 8vmin);
  -webkit-background-clip: text;
}
.accesoriosH > h3 {
  font-size: 2rem;
  font-family: "Concert One", cursive;
  padding-top: 9%;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  text-transform: uppercase;
}
.accesoriosH > p {
  font-size: 1.3rem;
  font-style: "Roboto", sans-serif;
  color: #1c1b1b;
  margin-top: 20%;
  padding: 4% 0 4% 2%;
  margin-bottom: 8%;
  border-radius: 6px;
  background-color: #d0d4db;
  border-radius: 10px;
}

/* animacion */
.fadeTop {
  opacity: 0;
  -webkit-transform: translate(0, 10vh);
  -ms-transform: translate(0, 10vh);
  transform: translate(0, 10vh);
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.fadeRight {
  opacity: 0;
  -webkit-transform: translate(10vh, 0vh);
  -ms-transform: translate(10vh, 0vh);
  transform: translate(10vh, 0vh);
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.fadeLeft {
  opacity: 0;
  -webkit-transform: translate(-10vh, 0vh);
  -ms-transform: translate(-10vh, 0vh);
  transform: translate(-10vh, 0vh);
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.visible {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

/* Boton */
.bn30 {
  border: 5em;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  -webkit-transform: translate(0);
  -ms-transform: translate(0);
  transform: translate(0);
  background-image: -o-linear-gradient(45deg, #f00c0c, red);
  background-image: linear-gradient(45deg, #f00c0c, red);
  padding: 0.7em 2em;
  -webkit-box-shadow: 1px 1px 10px rgba(240, 12, 12, 0.3);
  box-shadow: 1px 1px 10px rgba(240, 12, 12, 0.3);
  -webkit-transition: box-shadow 0.25s;
  -webkit-transition: -webkit-box-shadow 0.25s;
  transition: -webkit-box-shadow 0.25s;
  -o-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
  transition: box-shadow 0.25s, -webkit-box-shadow 0.25s;
  color: white;
}

.bn30 .text {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -o-linear-gradient(45deg, #f00c0c, red);
  background-image: linear-gradient(45deg, #f00c0c, red);
}

.bn30:after {
  content: "";
  position: absolute;
  margin: 4px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: #0e0e10;
}

.bn30:hover {
  background-image: -o-linear-gradient(135deg, #f00c0c, red);
  background-image: linear-gradient(-45deg, #f00c0c, red);
  -webkit-box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
  box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
}

.bn30:hover .text {
  background-image: -o-linear-gradient(135deg, #f00c0c, red);
  background-image: linear-gradient(-45deg, #f00c0c, red);
}

@media screen and (max-width: 768px) {
  .order-colum-fundas {
    order: -1;
  }
}

.col-sm-12 {
  padding: 7% 0;
}

/* devoluciones */
#categorias-h {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-transform: uppercase;
  margin: 0;
  font-size: 25px;
}
#categorias-h > h2 {
  border-left: 2px solid #f00c0c;
  border-right: 2px solid #f00c0c;
  padding: 0 10px;
}

#comprarPadding {
  padding-top: 5%;
}

.comprar,
.devoluciones {
  padding: 0 0 5% 0;
}

.div-subtitle {
  padding: 3% 0;
}

#b-style {
  padding: 10px;
}

.b-style {
  padding: 10px;
}

#categorias-h2 {
  font-size: 35px;
  font-weight: 600;
  color: #d0d4db;
  font-family: "Open Sans", sans-serif;
}

/* mobile */
@media (max-width: 600px) {
  .devoluciones-mobile {
    padding: 8% 5%;
  }

  #categorias-h {
    padding: 5%;
  }

  #categorias-h {
    margin: 0 0 40px 0;
  }

  #categorias-h2 {
    margin: 5%;
  }
}
@media (min-width: 601px) {
  #categorias-h > h2 {
    padding: 0 10px;
  }
  #categorias-h::before {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    height: 2px;
    content: " ";
    background: -webkit-gradient(linear, left top, right top, from(#1c1b1b), to(#f00c0c));
    background: -o-linear-gradient(left, #1c1b1b 0%, #f00c0c 100%);
    background: linear-gradient(90deg, #1c1b1b 0%, #f00c0c 100%);
    position: relative;
    top: 0.75em;
  }
  #categorias-h::after {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    height: 2px;
    content: " ";
    background: -o-linear-gradient(170deg, #1c1b1b 0%, #f00c0c 100%);
    background: linear-gradient(280deg, #1c1b1b 0%, #f00c0c 100%);
    position: relative;
    top: 0.75em;
  }
}
/* Variables */
/* estructura */
.datos-section {
  padding: 5% 0;
}

.datos-col-txt {
  padding-left: 3%;
}

.nombre-precio-datos {
  color: #d0d4db;
  border-width: 1px;
  border: 2px solid black;
  border-left: none;
  border-right: none;
  border-top: none;
  -o-border-image: -o-linear-gradient(left, #151515 0%, #f00c0c 50%, #151515 100%) 1;
  border-image: -webkit-gradient(linear, left top, right top, from(#151515), color-stop(50%, #f00c0c), to(#151515)) 1;
  border-image: linear-gradient(90deg, #151515 0%, #f00c0c 50%, #151515 100%) 1;
  padding: 5% 0;
}

.row-datos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #d0d4db;
  padding: 5% 0;
  border-width: 1px;
  border: 2px solid black;
  border-left: none;
  border-right: none;
  border-top: none;
  -o-border-image: -o-linear-gradient(left, #151515 0%, #f00c0c 50%, #151515 100%) 1;
  border-image: -webkit-gradient(linear, left top, right top, from(#151515), color-stop(50%, #f00c0c), to(#151515)) 1;
  border-image: linear-gradient(90deg, #151515 0%, #f00c0c 50%, #151515 100%) 1;
}

.colores-datos {
  padding: 5% 0;
  color: #d0d4db;
  border-width: 1px;
  border: 2px solid black;
  border-left: none;
  border-right: none;
  border-top: none;
  -o-border-image: -o-linear-gradient(left, #151515 0%, #f00c0c 50%, #151515 100%) 1;
  border-image: -webkit-gradient(linear, left top, right top, from(#151515), color-stop(50%, #f00c0c), to(#151515)) 1;
  border-image: linear-gradient(90deg, #151515 0%, #f00c0c 50%, #151515 100%) 1;
}

.btn-variant-content {
  margin: 0 5px;
  display: inline-block;
  height: 24px;
  width: 24px;
  -webkit-animation: morph 8s ease-in-out infinite;
  animation: morph 8s ease-in-out infinite;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  background: red;
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  z-index: 5;
}

/* boton compra */
.btn-compra {
  border: none;
  font-family: "Lato";
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 25px 80px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-compra:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

/* Pseudo elements for icons */
.btn-compra:before {
  font-family: "FontAwesome";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

.carousel-item img {
  border-radius: 30px;
}

/* Icon separator */
.btn-sep-compra {
  padding: 20px 69px;
}

.btn-sep-compra:before {
  background: rgba(0, 0, 0, 0.15);
}

/* Button 3 */
.btn-4 {
  background: #25d366;
  color: #fff;
}

.btn-4:hover {
  opacity: 0.8;
}

.btn-4:active {
  background: #686868;
}

.btn-4:before {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  line-height: 3;
  font-size: 140%;
  width: 60px;
}

/* Icons */
.icon-send:before {
  content: "\f232";
}

.datos-center {
  font-family: "Concert One", cursive;
}

/* Medias mobile */
@media (max-width: 768px) {
  .img-datos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: auto;
  }

  .colum-img-datos {
    margin-bottom: 10%;
  }

  .datos-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

/*# sourceMappingURL=style.css.map */
