/* animaciones*/

.carousel-inner {
	--angle: 0deg;
	border: 5px solid;
	-o-border-image: -o-linear-gradient(var(--angle), $base-color, $Color-Fondo) 1;
	border-image: -webkit-gradient(linear, left top, left bottom, from(var(--angle)), color-stop($base-color), to($Color-Fondo)) 1;
	border-image: linear-gradient(var(--angle), $base-color, $Color-Fondo) 1;

	animation: 10s rotate linear infinite;
	-webkit-animation: 10s rotate linear infinite;
	-moz-animation: animation 10s rotate linear infinite;


}






@-webkit-keyframes rotate {
	to {
		--angle: 360deg;
	}
}

@keyframes rotate {
	to {
		--angle: 360deg;
	}
}

@property --angle {
	syntax: '<angle>';
	initial-value: 0deg;
	inherits: false;
}


//morph
@keyframes morph {
	0% {
		border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;

	}

	50% {
		border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;

	}

	100% {
		border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;

	}
}