//variables

@import "./variables";

/*/////////// Protectores ////////////// */

//sombra
.vidrios,
.accesorios,
.fundas {

    height: 88vh;
    font-weight: bold;
    -webkit-box-shadow: inset 0px 0px 12px 3px #000000;
    box-shadow: 11px 17px 20px 13px #000000;
    border-radius: 2px;
    margin-top: 6px;
    background: rgba(240, 12, 12, 0.3);
    border: 6px solid;
    border-radius: 5px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-color: $base-color;
    border-image-width: 1;
    -o-border-image: -o-linear-gradient(var(--angle), #f00c0c, red) 1;
    -webkit-animation: 10s rotate linear infinite;
    animation: 10s rotate linear infinite;


}

.text-decoration-none {
    list-style: none;
    text-decoration: none;
    color: $text-dark;
}

@media (max-width: 768px) {

    .vidrios,
    .accesorios,
    .fundas {
        height: 75vh;

    }
}

#center-row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.img-dev {

    max-width: 600px;
    width: 100%;
    padding: 6%;
}

/* vidrios */


.protectorH {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
    color: white;
    padding: 0 5%;

    >h2 {

        padding-top: 5%;
        font-family: $Concert-font;
        text-transform: uppercase;
        text-shadow: 0px 5px 5px #000000;
        font-size: calc(1rem + 8vmin);
        -webkit-background-clip: text;

    }

    >h3 {
        font-size: 2rem;
        font-family: $Ubuntu-font;
        padding-top: 9%;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: start;

    }



}

.div-descrip-devol {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 20%;
    width: auto;
    justify-content: center;
    
    border-radius: 2px;

    background-color: $Color-Fondo;
    margin-bottom: 2%;

    padding: 2% 2%;

    >p {
        font-size: 1.2rem;
        font-style: $font-family;
        color: $text-dark;

    }
}

/* /////////// fundas ///////////// */


.section-fundas {

    margin: 5% 0;
}

.fundasH {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
    color: white;
    padding: 0 5%;
    height: 88vh;

    >h2 {
        padding-top: 5%;
        font-family: $Concert-font;
        text-transform: uppercase;
        text-shadow: 0px 5px 5px #000000;
        font-size: calc(1rem + 8vmin);
        -webkit-background-clip: text;

    }

    >h3 {
        font-size: 2rem;
        font-family: $Ubuntu-font;
        padding-top: 9%;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: start;

    }

    >p {
        font-size: 1.3rem;
        font-family: $Concert-font;
        color: $Color-Fondo;
        margin-top: 20%;
        padding: 4% 0 4% 2%;
        margin-bottom: 8%;
        border-radius: 6px;
        background-color: $text-dark;
        border-radius: 10px;
    }
}

#img-funda {
    width: 80vh;
}

@media (max-width: 768px) {
    .order-colum-fundas {

        order: -1;


    }

    #img-funda {
        width: 100%;
    }

}



/* ////////// Accesorios /////// */



.accesoriosH {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
    padding: 0 5%;
    color: white;


    >h2 {
        padding-top: 5%;
        font-family: $Concert-font;
        text-transform: uppercase;
        text-shadow: 0px 5px 5px #000000;
        font-size: calc(1rem + 8vmin);
        -webkit-background-clip: text;

        @media (min-width: 769px) and (max-width:933px) {
            font-size: calc(1rem + 5vmin);
        }
    }

    >h3 {
        font-size: 2rem;
        font-family: $Ubuntu-font;
        padding-top: 9%;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: start;

    }

    >p {
        font-size: 1.3rem;
        font-style: $font-family;
        color: $Color-Fondo;
        margin-top: 20%;
        padding: 4% 0 4% 2%;
        margin-bottom: 8%;
        border-radius: 6px;
        background-color: $text-dark;

        border-radius: 10px;
    }
}

/* animacion */


.fadeTop {
    opacity: 0;
    -webkit-transform: translate(0, 10vh);
    -ms-transform: translate(0, 10vh);
    transform: translate(0, 10vh);
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.fadeRight {
    opacity: 0;
    -webkit-transform: translate(10vh, 0vh);
    -ms-transform: translate(10vh, 0vh);
    transform: translate(10vh, 0vh);
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.fadeLeft {
    opacity: 0;
    -webkit-transform: translate(-10vh, 0vh);
    -ms-transform: translate(-10vh, 0vh);
    transform: translate(-10vh, 0vh);
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.visible {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}


/* Boton */
.bn30 {
    border: 5em;
    width: 130px;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
    background-image: -o-linear-gradient(45deg, $base-color, orange);
    background-image: linear-gradient(45deg, $base-color, orange);
    padding: 0.7em 2em;
    margin: 2em 0 0 0;
    -webkit-box-shadow: 1px 1px 10px ($Degrade-fondo);
    box-shadow: 1px 1px 10px ($Degrade-fondo);
    -webkit-transition: box-shadow 0.25s;
    -webkit-transition: -webkit-box-shadow 0.25s;
    transition: -webkit-box-shadow 0.25s;
    -o-transition: box-shadow 0.25s;
    transition: box-shadow 0.25s;
    transition: box-shadow 0.25s, -webkit-box-shadow 0.25s;
    width: 128px;
    >a{
        text-transform: uppercase;
        white-space: nowrap;
        transition: all 0.2 ease-in-out;
        &:hover{
            transition: all 0.2 ease-in-out;
            color: $base-color;
            
        }
        
    }
    &:hover{
        background-color: red;
    }
}

.bn30 .text {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -o-linear-gradient(45deg, $base-color, red);
    background-image: linear-gradient(45deg, $base-color, red);
}

.bn30:after {
    content: "";

    position: absolute;
    margin: 4px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: #0e0e10;
}

.bn30:active {
    background-image: -o-linear-gradient(135deg, $base-color, red);
    background-image: linear-gradient(-45deg, $base-color, red);
    -webkit-box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
    box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
   
}

.bn30:hover .text {
    background-image: -o-linear-gradient(135deg, $base-color, red);
    background-image: linear-gradient(-45deg, $base-color, red);
    text-transform: uppercase;
}