/* estructura */

.datos-section {
    padding: 5% 0;
}

.datos-col-txt {
    padding-left: 3%;
}

.img-datos {
    --angle: 0deg;
    border: 5px solid;
    -o-border-image: -o-linear-gradient(var(--angle), $base-color, red) 1;
       border-image: -webkit-gradient(linear, left top, left bottom, from(var(--angle)), color-stop($base-color), to(red)) 1;
       border-image: linear-gradient(var(--angle), $base-color, red) 1;


    -webkit-animation: 10s rotate linear infinite;


            animation: 10s rotate linear infinite;
}




.nombre-precio-datos {
    color: $text-dark;
    border-width: 1px;
    border: 2px solid black;
    border-left: none;
    border-right: none;
    border-top: none;
    -o-border-image: -o-linear-gradient(left, #151515 0%, $base-color 50%, #151515 100%) 1;
       border-image: -webkit-gradient(linear, left top, right top, from(#151515), color-stop(50%, $base-color), to(#151515)) 1;
       border-image: linear-gradient(90deg, #151515 0%, $base-color 50%, #151515 100%) 1;
    padding: 5% 0;
}



.row-datos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: $text-dark;
    padding: 5% 0;

    border-width: 1px;
    border: 2px solid black;
    border-left: none;
    border-right: none;
    border-top: none;
    -o-border-image: -o-linear-gradient(left, #151515 0%, $base-color 50%, #151515 100%) 1;
       border-image: -webkit-gradient(linear, left top, right top, from(#151515), color-stop(50%, $base-color), to(#151515)) 1;
       border-image: linear-gradient(90deg, #151515 0%, $base-color 50%, #151515 100%) 1;
}


.colores-datos {
    padding: 5% 0;
    color: $text-dark;

    border-width: 1px;
    border: 2px solid black;
    border-left: none;
    border-right: none;
    border-top: none;
    -o-border-image: -o-linear-gradient(left, #151515 0%, $base-color 50%, #151515 100%) 1;
       border-image: -webkit-gradient(linear, left top, right top, from(#151515), color-stop(50%, $base-color), to(#151515)) 1;
       border-image: linear-gradient(90deg, #151515 0%, $base-color 50%, #151515 100%) 1;
}


.btn-variant-content {
    margin: 0 5px;

    display: inline-block;

    height: 24px;
    width: 24px;

    -webkit-animation: morph 8s ease-in-out infinite;

            animation: morph 8s ease-in-out infinite;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    background: red;
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out; 
    z-index: 5;
}

/* boton compra */
.btn-compra {
    border: none;
    font-family: 'Lato';
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-compra:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

/* Pseudo elements for icons */
.btn-compra:before {
    font-family: 'FontAwesome';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: relative;
    -webkit-font-smoothing: antialiased;
}


/* Icon separator */
.btn-sep-compra {
    padding: 20px 69px;
}

.btn-sep-compra:before {
    background: rgba(0, 0, 0, 0.15);
}



/* Button 3 */
.btn-4 {
    background: $base-color-wp;
    color: #fff;
}

.btn-4:hover {
    opacity: 0.8;
}

.btn-4:active {
    background: #686868;

}

.btn-4:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 60px;
}

/* Icons */


.icon-send:before {
    content: "\f232";
    ;
}


/* Medias mobile */

@media (max-width: 768px) {
    .img-datos {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin: auto;
    }

    .colum-img-datos {
        margin-bottom: 10%;
    }

    .datos-center {

        display: -webkit-box;

        display: -ms-flexbox;

        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
}