@import "./variables";

/* estructura */
.datos-section {
    padding: 5% 0;
}

@media (min-width: 998px) {
    .datos-section {
        padding: 5% 0 10% 0;

        div>.row {
            border: 1px solid $Principal-color-sombra;
            border-radius: 10px;
            background-color: transparent;
        }
    }
}

.indice-estructuras {
    color: $text-dark;
    text-transform: uppercase;
    font-size: .8rem;

    >ul {
        list-style: none;
        text-decoration: none;
        flex-wrap: wrap;
    }

    a {
        text-decoration: none;
        color: $text-dark;

        &:hover {
            color: $base-color;
        }
    }

    span {
        padding: 0 5px;
    }

    strong {
        font-weight: bold;
    }
}






.datos-col-txt {
    padding-left: 3%;
}

.carousel-control-next,
.carousel-control-prev {
    height: 450px;

}

.carousel-item{
    transition: transform .6s ease-in-out;
}
.carousel-inner {
    padding-top: 8%;

    >div {
        >img {
            max-width: 100%;
            height: auto;
        }
    }
}

/* flechas carrusel */
.carousel-control-next-icon,
.carousel-control-prev-icon {
    fill: $text-dark;
}

.zoom-in-silicone {
    position: absolute;
    top: 90%;
    left: 80%;
    transform: translate(-50%, -50%);

}

.zoom-in-silicone-icon {
    font-size: 5em;

    color: white;



}

/* Dropdown de lista de celulares */
#dropdown-menu {
    background-color: $Color-Fondo;

}

.datos-modelos {
    background-color: $Color-Fondo;
}

/* instagram logo en producto */

.instagram-wrapper {
    background-color: $Color-Fondo;

    max-width: 165px;
    margin: 24px 0;
    border: 1px solid $text-dark;
}

@media (max-width: 768px) {
    .instagram-wrapper {
        margin: 24px auto;
    }
}

.btn-4 {
    color: #fff;
}

.btn-4:hover {
    transition: all 0.2 ease-in-out;
    opacity: 0.8;
}

.btn-4:active {
    background: #686868;

}



.instagram-wrapper .fa-instagram {
    color: $base-color-ig;
    padding: 15px;
    font-size: 1em;
    background-color: $Color-Fondo;


}

.fa-arrow-left {
    color: #ffffff;
    padding: 15px;
    font-size: 1em;
    background-color: #1c1b1b;

}

.instagram-wrapper span {
    font-size: 1.1em;
    color: #fff;
    font-family: $Concert-font;
    text-transform: uppercase;
}

.nombre-precio-datos {
    color: $text-dark;
    border-width: 1px;
    border: 1px solid black;
    border-left: none;
    border-right: none;
    border-top: none;
    -o-border-image: -o-linear-gradient(left, #151515 0%, $base-color 50%, #151515 100%) 1;
    border-image: -webkit-gradient(linear, left top, right top, from(#151515), color-stop(50%, $base-color), to(#151515)) 1;
    border-image: linear-gradient(90deg, $base-color, transparent, transparent) 1;
    padding: 3% 0;
}
.nombre-precio-datos-2 {
    color: $text-dark;
    border-width: 1px;
    border: 1px solid black;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-image: -webkit-gradient(linear, left top, right top, from(#151515), color-stop(50%, #f00c0c), to(#151515)) 1;
    border-image: linear-gradient(90deg, #f00c0c, transparent 80%, transparent 100%) 1;
    padding: 3% 0;
}

/* estilos columnas  */
.row-datos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    color: $text-dark;
    padding: 5% 0;

    border-width: 1px;
    border: 1px solid black;
    border-left: none;
    border-right: none;
    border-top: none;
    -o-border-image: -o-linear-gradient(left, #151515 0%, $base-color 50%, #151515 100%) 1;
    border-image: -webkit-gradient(linear, left top, right top, from(#151515), color-stop(50%, $base-color), to(#151515)) 1;
    border-image: linear-gradient(90deg, $base-color, transparent 80%, transparent 100%) 1;
}


.colores-datos {
    padding: 5% 0;
    color: $text-dark;

    border-width: 1px;
    border: 1px solid black;
    border-left: none;
    border-right: none;
    border-top: none;
    -o-border-image: -o-linear-gradient(left, #151515 0%, $base-color 50%, #151515 100%) 1;
    border-image: -webkit-gradient(linear, left top, right top, from(#151515), color-stop(50%, $base-color), to(#151515)) 1;
    border-image: linear-gradient(90deg, $base-color, transparent 80%, transparent 100%) 1;
}

/* Cambia linea mobile */
@media (max-width: 767px) {

    .colores-datos,
    .row-datos,
    .nombre-precio-datos, .nombre-precio-datos-2 {
        border-image: linear-gradient(90deg, transparent 0%, $base-color 50%, transparent 100%) 1;
    }

}

.carousel-item img {
    border-radius: 30px;
}


.nombre-precio-datos {
    font-family: $Concert-font;
    text-transform: uppercase;

    >h2 {
        font-size: 2.5em;
        font-weight: 700;
        color: $text-dark;
    }

    >h3 {
        font-size: 1.5em;

        color: $text-dark;
    }
}

.row-datos,
.colores-datos,
.datos-center {

    >h3 {
        font-size: 1em;
        text-transform: uppercase;
        color: $text-dark;
    }

    >button {
        text-transform: uppercase;
    }
}

/* colores de productos */
.btn-variant-content {
    margin: 0 5px;
    border: 1px solid rgb(77, 77, 77);
    display: inline-block;
    height: 24px;
    width: 24px;
    border-radius: 86% 14% 86% 14% / 14% 86% 14% 86%;
    background: red;
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    z-index: 5;

    &:hover {
        border-radius: 50px;
    }
}

.colum-img-datos{
    margin: auto;
}

/* Medias mobile */

@media (max-width: 768px) {
    .img-datos {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin: auto;
    }

    .colum-img-datos {
        margin-bottom: 10%;
    }

    .datos-center {

        display: -webkit-box;
        display: -ms-flexbox;

        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}