/* logo wp */
.logoFlotante {
    z-index: 999;
    border-radius: 50%;
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    font-size: 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    @media (max-width: 600px) {
        bottom: 3rem;
        right: 2rem;
    }

}
.logo-instagram-fl{
    width: 50px;
    height: 50px;
    transition: all 0.2s;
    &:hover {
        transition: all 0.2s;
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
}
