//variables



/* Variables */

// #8424c4
// $Color-Fondo: #1c1b1b;

//colores principales
$Principal-color: #f00c0c;
$Principal-color-2: red;
$Principal-color-sombra: rgba($Principal-color, 0.30);
// oscuro
$Color-Fondo: #1c1b1b;
$navbar-body-color: #151515;

//calculo lineas degrades
$font-size-categoria-h: calc(1.5em);

$Degrade-fondo: rgba($Principal-color, 0.30);
//whatsapp color
$base-color-wp: #25d366;
//instagram color
$base-color-ig: #e1306c;
//facebook color
$base-color-fb: #3b5998;
/////////////////////////////////////////////////////////////////////////////

//Header
$font-family: 'Roboto',
sans-serif;
$font-size-base: 1rem;

$text-dark: #d0d4db;
$border-color: $Principal-color;
$base-color: $Principal-color;
$base-color2: $Principal-color-2;

$navbar-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
$navbar-padding-y: 1rem;
$navbar-padding-x: 1.15rem;

$navbar-link-hover: $base-color;
$navbar-link-padding-y: 0.5rem;
$navbar-link-padding-x: 1rem;

$navbar-dropdown-padding-y: 0.5rem;
$navbar-dropdown-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
$navbar-dropdown-radius: 0.75rem;

$navbar-dropdown-item-padding-y: 0.25rem;
$navbar-dropdown-item-padding-x: 1rem;

$navbar-dropdown-separator-margin-y: 9px;
$navbar-dropdown-separator-color: $border-color;

/////////////////////////////////////////////////////////////////////////////



// Color footer/header
$colores-foothead: #0d0630;
// color fondo general gris
$colores-fondo-general: #ececec;
// color texto negro no tan fuerte

//fuentes
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
//Titulos
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
//Subtitulos
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');



$Sans-font: 'Open Sans', sans-serif;
$Concert-font: 'Bitter', serif;


//Titulos
$FatFace-font: 'Abril Fatface', cursive;
//Subtitulos
$Ubuntu-font: 'Ubuntu', sans-serif;